
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Lakshya{% endblock %}</title>
  <link rel="stylesheet" href="/static/index-dark.css">
</head>

<body>
  <header>
    <h1>Lakshya Shrivastav</h1>
    <p>Computer Engineering @ MIT Academy of Engineering</p>
    <nav>
      <ul>
        <li><a href="/index.html#about">About Me</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/resume.pdf">Resume</a></li>
        <!--<li><a href="#experience">Experience</a></li>-->
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/services.html">Services</a></li>
      </ul>
    </nav>
  </header>


  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Email: <a href="mailto:lakshyasrivastavc@gmail.com">lakshyasrivastavc@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/lakshya-shrivastav-b67a72340/" target="_blank">LinkedIn</a></p>
    <p>GitHub: <a href="https://github.com/lakshya-sr" target="_blank">github.com/lakshya-sr</a></p>
  </footer> 

</body>
</html>

